*{
    padding: 0px;
    margin: 0px;
}

.header{
    background-color: rgb(0, 220, 220);
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    border-bottom: 2px solid sienna;
    margin-bottom: 0px;

}

.nav {
    display: flex;
    padding: 5px;
    gap: 20px;
    /* background-color: antiquewhite; */
}

.anchor{
    text-decoration: none;
    font-weight: 900;
    color: rgb(173, 34, 34);
}



.main{
    background-color: rgb(192, 255, 234);
    margin-top: 0px;
    /* min-height: 90vh; */
    height: 90vh;
    overflow-y: auto;
}


.hobbies{
    background-color: rgb(201, 201, 201);
    padding: 10px;
    padding-inline: 30px;
    border: 2px solid sienna;
}

.hobbies-section{
    display: flex;
    padding: 10px;
    padding-inline: 40px;
    gap: 40px;
}

.contact-button{
    background-color: aqua;
    max-height: 40px;
}



.footer{
    background-color: rgb(0, 220, 220);
}